section{
    margin-top: 5px;
}


.card{
    display:inline-block;
    width: calc(20%);
    margin: 5px 2px 2px 2px;
}

.card-body{
    text-align: center;
    font-size: 80% ;
    line-height: 40%;
    background-color: #E0E0E0;
    padding: 5%;
}

#name{ 
    font-weight: bold;
    padding-bottom: 5px;
    cursor: pointer; 
}

#name:hover{
    color: #3886ad; 
    transition: 0.5s;
}

#race, #color{
    display:inline-block;
    margin-bottom: 6%;
}



