.logo {
  margin: 0 40px;
  max-height: 180px;
}

@media screen and (max-width: 992px) {
  .logo {
    max-width: 100%;
  }

  .carousel-icon {
    display: none;
  }
}

.side-img {
  max-height: 340px;
}

.side-img-text {
  max-width: 480px;
}

.carousel-img {
  display: inline-block;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel-imgs-container{
  display: flex;
  justify-content: space-evenly;
}

.btn {
  border-color: transparent;
  color: #ffffff;
  font-weight: lighter;
}

.btn.btn-outline-secondary.mt-2:hover{
  background-color: #ffffff;
  color: #3886ad;
  border-color: transparent;
}

.btn.btn-outline-secondary.mt-4:hover{
  background-color: #ffffff;
  color: #e5ab04;
  border-color: transparent;max-
 
}