iframe {
    width: 100%;
    height: 40vh;
}

.container-pet-photo {
    box-shadow: inset 0px -140px 0px 0px #f5f8f9;
}

.pet-photo {
    height: 400px;
    max-width: 40%;
    object-fit: cover;
    border-radius: 20px 0px 20px 0px !important;

}

.tutor-info {
    color: #1e003a;
}

.option {
    transform: scale(.95);
}

.option:hover {
    transform: scale(1);
    transition: 0.1s;

}

.main-option {
    text-transform: uppercase;
    color: #9C31FE !important;
}

.main-option::before {
    content: "";
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background-image: url(../assets/lost-pets/tutor-ico.png);
    background-position: center;
    background-repeat: no-repeat;
}

.contact-option::before {
    content: "";
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background-image: url(../assets/lost-pets/contact-ico.png);
    background-position: center;
    background-repeat: no-repeat;
}

.report-problem-option::before {
    content: "";
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background-image: url(../assets/lost-pets/report-problem-ico.png);
    background-position: center;
    background-repeat: no-repeat;
}

.edit-option::before {
    content: "";
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background-image: url(../assets/lost-pets/edit-ico.png);
    background-position: center;
    background-repeat: no-repeat;
}

.returned-adopted-option::before {
    content: "";
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background-image: url(../assets/lost-pets/returned.svg);
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
    .pet-photo {
        max-width: calc(100% - 50px);
        max-height: 300px;
    }

    .container-pet-photo {
        box-shadow: inset 0px -70px 0px 0px #f5f8f9;
    }
}

#map {
    height: 400px;
}

hr {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 15px;
}